@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* font-family: 'Pacifico', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* font-family: 'Work Sans', sans-serif; */

* {
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #dbaf7f;
}

header {
    width: 100%;
    display: flex;
    background-color: #f7e1ba;
    justify-content: space-between;
    align-items: center;

    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0.5px 0.5em #000000;
}

nav {
    display: flex;
    background-color: #5a8a5a;
    border-radius: 5px 0px 5px 5px;
}

.titulo {
    padding: 0px 20px 0px 20px;
    font-family: 'Pacifico', cursive;
    color: #303042;
}

.titulo:hover {
    font-size: 50px;
    transition: all 0.55s;

}

ul {
    display: flex;
    justify-content: space-around;
}

li, a {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: #000000;

}

a:hover {
    font-weight: bold;
    color: #303042;
    transition: all 0.55s;

}

@media (max-width: 700px) {
    .titulo {
        display: none;
    }

    nav {
        border-radius: 0px 5px 5px 0px;

    }

    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    li {
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        justify-content: center;

    }
    
}

main {
    display: flex;
    justify-content: center;
}

.containerGrid {
    padding: 20px;
    max-width: 1500px;
    display: grid;

    grid-gap: 5px;
    grid-template-areas: 
    "imagem imagem imagem imagem";
}

img {
    width: 100%;

    border-radius: 10px;
}

.imagem {
    width: 350px;
    height: auto;
    box-shadow: 0.5px 0.5px 0.5em #000000;
    grid-area: "imagem";
}

@media (max-width: 500px){
    .containerGrid {
        padding: 20px;
        grid-template-areas: 
    "imagem";
    }
}